################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chan4NetCore/v15
/Chan4NetCore/bin/
/Chan4NetCore/obj/

